h1 {font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 4%;
    color: #c20430;
    font-size: 5em;
    margin-bottom: 0.3em;
    margin-top: 0;}

h2 {color: rgb(194, 4, 48, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
     margin-bottom: 0em;}

p {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    background-color: rgba(180, 180, 180, 0.6);
   }

.main-container {   
    display: flex;
    flex-direction: column;
    width: auto;
}

html, body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0.5%;
    height: 100%;
 
}

.textbox {
    border:1px solid rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    letter-spacing: 0.2em;
}

.segment {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
}

/* Add segments based on numColorsTextbox value */
.segment:nth-child(1) {
    border-width: 0 100px 200px 100px; 
    border-color: transparent transparent #c20430 transparent; /* Color for segment 1 */
    transform: rotate(0deg);
}

.segment:nth-child(2) {
    border-width: 0 100px 200px 100px; 
    border-color: transparent transparent #007acc transparent; /* Color for segment 2 */
    transform: rotate(60deg);
}

.segment:nth-child(3) {
    border-width: 0 100px 200px 100px;
    border-color: transparent transparent #ff5733 transparent; /* Color for segment 3 */
    transform: rotate(120deg);
}

.segment:nth-child(4) {
    border-width: 0 100px 200px 100px;
    border-color: transparent transparent #ffa500 transparent; /* Color for segment 4 */
    transform: rotate(180deg);
}

.segment:nth-child(5) {
    border-width: 0 100px 200px 100px;
    border-color: transparent transparent #ff5733 transparent; /* Color for segment 5 */
    transform: rotate(240deg);
}

.segment:nth-child(6) {
    border-width: 0 100px 200px 100px;
    border-color: transparent transparent #007acc transparent; /* Color for segment 6 */
    transform: rotate(300deg);
}



/* For mobile devices*/
@media all and (pointer:none) , (pointer:coarse) {
    h1 {font-size: 2.5em;}
    h2 {font-size: 2em;}
    p {font-size: 0.7em;
        font-weight: bold;}
}