h1 {font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 4%;
    color: #c20430;
    font-size: 5em;
    margin-bottom: 0.3em;
    margin-top: 0;}

h2 {color: rgb(194, 4, 48, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 7em;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0em;}

p {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    background-color: rgba(180, 180, 180, 0.6);
   }

.main-container {   
    display: flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
   /* scroll-snap-type: x mandatory; */
}

html, body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0.5%;
    height: 100%;
    background-color: rgb(44, 44, 44);
}

/* For mobile devices*/
@media all and (pointer:none) , (pointer:coarse) {
    h1 {font-size: 2.5em;}
    h2 {font-size: 2em;}
    p {font-size: 0.7em;
        font-weight: bold;}
}